{% extends 'template.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block main %}
  <h2>Posez votre question</h2>
  {% for error in errors %}
    <div class="alert-danger">
      {{ error.message }}
    </div>
  {% endfor %}
  {{ form(form) }}

{% endblock %}
