{% extends 'template.html.twig' %}

{% block title %}{{subject.title}}{% endblock %}

{% block main %}
  <div class="alert alert-secondary">
    <h2>{{ subject.title}}</h2>
    <p>{{ subject.content }}</p>
  </div>

{% endblock %}
